body {
    background: #F3F3F3;
}
.container-fluid .body .row{
    height: calc(93vh);
}
.container-fluid .body .col-9{
    background: #F3F3F3;
    height: 100%;
    overflow-y:auto;
    font-size: 24px;
}
.h10 {
    height: 10px;
}